.EditContainer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    99deg,
    rgb(82, 82, 82),
    rgb(82, 82, 82) 40%,
    rgb(29, 28, 28)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.EditInfo {
  height: 90%;
  width: 90%;
  background-color: rgb(41, 41, 41);
  border: solid rgb(66, 57, 57);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.UploadGridItemTwo {
  height: 100px;
  width: 100px;
  border: solid black;
  display: flex;
  flex-direction: column;
}

.EditPostMedia {
  height: 100%;
  width: 100%;
}

.EditInputs {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.EditInputTitles {
  color: white;
}

.SaveEdit {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SaveEditBtn {

}
