:root{
  --black: #222222;
  --dark-red: #2C0703;
  --light-red: #6F1A07;
  --grey: #808080;
  --white: #FFFFFF;
}

.Header {
    height: 9vh;
    width: 100vw;
    /* background-color: var(--light-red); */
    /* background-image: linear-gradient(
      99deg,
      rgb(59, 6, 2),
      rgb(61, 39, 34) 40%,
      rgb(29, 28, 28)
    ); */
    background-color: var(--dark-red);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
    0 10px 10px 0 rgba(0, 0, 0, 0.26); 
    position: fixed;
    z-index: 5000;
}

.headerTitle {
    /* width: 105px; */
    /* background-color: gray; */
    font-family: 'Cinzel', serif;
    font-size: 28px;
    color: white;
    text-shadow:  2px 2px var(--grey);
    display: flex;
    justify-content: center;
    /* margin-left: 9%; */
    /* position: fixed; */
}
.header-logo{
  height: 25px;
  width: 50px;
  padding-left:  10px;

}

.linksBtn {
  height: 40px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
  color: black;
  border: 1px solid black;
  font-family: 'Cinzel', serif;
}

.registerBtn {
  height: 25px;
  width: 80px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  font-family: 'Cinzel', serif;
  font-size: 12px;
}

.headerProfilePic{
  height: 35px;
  width: 35px; 
  border-radius: 50px;
}

.dropProfile {
  height: 0px; 
  width: 20vh;
  overflow: hidden; 
  position: fixed;
  top: 9vh;
  /* right: 0; */
  right: 0px;
  /* background-image: linear-gradient(
    99deg,
    rgb(26, 21, 21),
    rgb(61, 39, 34) 40%,
    rgb(65, 28, 28)
  ); */
  background-color: var(--dark-red);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  color: white
}

.dropLog {
  height: 0px; 
  width: 20vh;
  overflow: hidden; 
  /* position: fixed; */
  top: 9vh;
  right: 0;
  background-color: var(--dark-red);
  /* background-image: linear-gradient(
    99deg,
    rgb(26, 21, 21),
    rgb(61, 39, 34) 40%,
    rgb(65, 28, 28)
  ); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  color: white;

}

.dropBurger {
  height: 0px; 
  width: 20vh;
  overflow: hidden; 
  /* position: fixed; */
  top: 9vh;
  left: 0;
  background-color: var(--dark-red);
  /* background-image: linear-gradient(
    99deg,
    rgb(26, 21, 21),
    rgb(61, 39, 34) 40%,
    rgb(65, 28, 28)
  ); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  color: white;
  font-family: 'Cinzel', serif;
}

.loginInputs {
  height: 10vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.inputBox {
  width: 15vh;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-family: 'Cinzel', serif;

}

.loggedInShiz {
  width: 100px;
  height: 60px;
  /* background-color: gray; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  

}

.headerNewPost {
  font-size: 12px;
  font-family: 'Cinzel', serif;
  /* text-decoration-line: none; */
  color: white;
}

.headerPlusBtn {
  /* background-color: var(--grey); */
  color: white;
  /* border: solid rgb(31, 31, 31); */
  background-color: transparent;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 49px;
}

.loggedInPicBox {
  width: 45px;
  height: 45px;
  background-color: black;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 15px;
}

.loggedInPic {
  height: auto;
  width: 100%;
  
}

.logoutBtn {
  background-color: var(--grey);
  color: white;
  /* border: solid rgb(31, 31, 31); */
  font-size: 12px;
  font-family: 'Cinzel', serif;
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

.hide-animation {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.show-animation {
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes hide {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}
@keyframes show {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}


  