:root{
    --black: #222222;
    --dark-red: #2C0703;
    --light-red: #6F1A07;
    --grey: #363636;
    --white: #FFFFFF;
}
.popup-big-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popUp{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 400px;
    height: 550px;
    background-color: var(--light-red);
    color: black;
    box-sizing: border-box;
    color: white;
    margin: 20px;
    /* z-index: 2;  */
}
.popUp h3{
    margin: 0px;
}
#title-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 15px;
}
#popup-comment{
    width: 100%;
    height: 30px;
    border: 0px;
    padding: 0px;
}
.popUp img{
    width: 95%;
    padding: 15px;
}
#popup-little-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup-button-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#popup-button-box button{
    margin-top: 10px;
    /* border-radius: 50%; */
    height: 30px;
    width: 170px;
    background-color: var(--grey);
    border: 1px white;
}
#popup-comment{
    margin-top: 15px;
}
#description{
    margin-top: 15px;
    padding: 15px;
}
#description p{
    margin: 2px;
}
#description{
    background-color: white;
    color: black;
    width: 100%;
    /* height: 30px; */
    border: 0px;
    padding: 0px;
    word-wrap: break-word;
}