
.IndivMusic {
    
    /* height: 100vh; */
    /* background-image: linear-gradient(
        99deg,
        rgb(29, 28, 28),
        rgb(59, 6, 2),
        rgb(61, 39, 34) 40%,
        rgb(29, 28, 28)
      ); */
      background-color: var(--grey);
      display: flex;
      justify-content: center;
      flex-direction: column;
}

.IndivMusicContainer {
    margin-top: 100px;
    /* width: 414px; */
    background-color: var(--grey);
    box-sizing: border-box;
    margin-top: 9vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IndivMusicTitle {
    height: 75px;
    width: 400px;
    background-color: var(--grey);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.PostVidBox {
    width: 100%;
    height: 360px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.username {
    margin-top: 0px;
    margin-left: 10px;
    width: 400px;
    display: flex;
  }
.PostVid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    background-position: center;
    background-size: cover
}

/* .MusicDescription {
    height: 100px;
    background-color: gray;
} */