.indiv-post {
  width: 414px;
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

.post-picture {
  width: 400px;
  height: 300px;
}

.img-button {
  background-color: transparent;
  border: none;
  width: 5vw;
  height: 5vh;
}

.button-on-top {
  display: flex;
  justify-content: space-between;
}
