.Profile {
    /* height: 100vh; */
    background-color: grey;
    display: flex;
    justify-content: center;

}

.ProfileContainer {
    /* height: 100vh; */
    width: 414px;
    border: solid black;
    background-color: black;
    box-sizing: border-box;
}

.ProfileCover {
    height: 200px;
    width: 100%;
    background-color: rgb(146, 55, 55);
    display: flex;
    justify-content: center;
    
    align-items: flex-end;
    
}

.ProfilePic {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: rgb(190, 131, 131);
    border: solid rgb(70, 66, 66);
}

.ProfileInfo {
    height: 175px;
    width: 100%;
    background-color: rgb(189, 186, 186);
    display: flex;
    border: solid rgb(201, 98, 98);
    box-sizing: border-box;
    flex-direction: column;
}

.ProfileUser {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MyPostsBtn {
    height: 25px;
    width: 75px;
    position: relative;
    left: 320px;
    
}

.ProfileGenre {
    background-color: rgb(143, 92, 92);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;
    padding: 5px
}

.ProfileGenreTitle {
    height: 75px;
    width: 165px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-shadow: 2px 2px rgb(12, 43, 78);
    color: white;
}

.ProfileBtn {
    height: 25px;
    width: 75px;
    position: relative;
    display: flex;

}

.ProfileGridContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.ProfileGrid {
    /* width: 100%; */
    display: grid;
    /* border: solid white; */
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;

}

.GridItem {
    height: 150px;
    width: 150px;
    border: solid white;
    background-color: gray;
}