
.Saves {
  /* background-image: linear-gradient(
    99deg,
    rgb(29, 28, 28),
    rgb(59, 6, 2),
    rgb(61, 39, 34) 40%,
    rgb(29, 28, 28)
  ); */
  background-color: rgb(34, 23, 23);
  display: flex;
  justify-content: center;
}

.SavesContainer {
    height: 100vh;
    width: 414px;
    background-color: var(--grey);
    box-sizing: border-box;
    margin-top: 9vh;

}

.pics-saved {
  margin-top: 50%;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  border: 1px solid white;
  height: 170px;
  width: 170px;
  position: relative;
  margin: 15px;
}

.SavesTitleContainer {
  height: 75px;
  width: 165px;
  display: flex;
  justify-content: center;
  
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  text-shadow: 2px 2px rgb(12, 43, 78);
  color: white;
}

.SaveGridItem {
  height: 150px;
  width: 150px;
  border: solid white;
  /* margin-bottom: 3px; */
}

.DeleteSaveBox {
  height: 25px;
  width: 100%;
  /* background-color: gray; */
}