.Settings {
    height: 100vh;
    /* background-image: linear-gradient(
        99deg,
        rgb(29, 28, 28),
        rgb(59, 6, 2),
        rgb(61, 39, 34) 40%,
        rgb(29, 28, 28)
      ); */
      background-color: var(--grey);
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
}

.SettingsContainer {
    /* height: 100vh; */
    width: 414px;
    background-color: black;
    box-sizing: border-box;
    margin-top: 9vh;
    margin-bottom: 100px;
    

}

.SettingsTitle {
    height: 70px;
    width: 100%;
    /* background-image: linear-gradient(
        99deg,
        rgb(82, 82, 82),
        rgb(82, 82, 82) 40%,
        rgb(29, 28, 28)
      ); */
      background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-shadow: 2px 2px rgb(12, 43, 78);
    color: white;

}

.SettingsCover {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: solid rgb(70, 66, 66);
    box-sizing: border-box;
    position: relative;
}

.SettingsPic {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: white;
    border: solid rgb(70, 66, 66);
    position: absolute;
   
}

.SettingsInfo {
    /* height: 250px; */
    width: 100%;
    /* background-image: linear-gradient(
        99deg,
        rgb(82, 82, 82),
        rgb(82, 82, 82) 40%,
        rgb(29, 28, 28)
      ); */
      background-color: var(--grey);
    display: flex;
    border: solid rgb(70, 66, 66);
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    color: white;
    font-family: 'Cinzel', serif;
    height: 780px;
    
}

.SettingsBtns {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(41, 41, 41) */
}

.settings-inputs{
    height: 30px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
}
.settings-inputs-long{
    height: 30px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

.SaveBtn {
    /* height: 25px;
    width: 75px;
    border-radius: 10%;
    background-image: linear-gradient(
      99deg,
      rgb(59, 6, 2),
      rgb(61, 39, 34) 40%,
      rgb(49, 22, 22)
    );
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    color: white;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.26);
    font-family: 'Baskervville', serif; */
    height: 40px;
width: 100px;
background-color: white;
border-radius: 15px;
color: black;
border: 1px solid black;
font-family: 'Cinzel', serif;
    
}