.Upload {
  /* background-image: linear-gradient(
    99deg,
    rgb(29, 28, 28),
    rgb(59, 6, 2),
    rgb(61, 39, 34) 40%,
    rgb(29, 28, 28)
  ); */
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  font-family: 'Baskervville', serif;
  /* margin-bottom: 100px; */
}

.UploadContainer {
  /* height: 100vh; */
  width: 414px;
  /* background-color: black; */
  background-color: var(--grey);
  box-sizing: border-box;
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.NewPostBox {
  height: 250px;
  width: 100%;
  /* background-image: linear-gradient(
    99deg,
    rgb(82, 82, 82),
    rgb(82, 82, 82) 40%,
    rgb(29, 28, 28)
  ); */
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewPostAdd {
  height: 150px;
  width: 150px;
  /* background-image: linear-gradient(
    99deg,
    rgb(29, 28, 28),
    rgb(71, 59, 58),
    rgb(61, 39, 34) 40%,
    rgb(41, 36, 36)
  ); */
  background-color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black;

}

.PlusIcon {
    /* position:relative; */
    /* border: 1px dotted rgb(66, 57, 57);
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 155px;
    margin-top: 25px;
    height: 120px;
    /* font-family: 'Cinzel', serif; */
    
  }

.NewPostTitle {
    margin-bottom: 70px;
    font-size: 25px;
    /* color: white; */
    font-family: 'Cinzel', serif;
}

.AddPopup {
    height: 0px;
    width: 350px;
    overflow: hidden; 
    position: fixed;
    top: 9vh;
    /* right: 0; */
    /* right: 0px; */
    background-color: black;
    background-image: linear-gradient(
        99deg,
        rgb(82, 82, 82),
        rgb(82, 82, 82) 40%,
        rgb(29, 28, 28)
      );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.26);

    
    
}

.XContainer {
  height: 40px;
    width: 100%;
    display:flex;
    align-items: flex-end;
}

.XContainerOne {
    width: 90%;
}


.NewPostUpload {
    height: 125px;
    width: 125px;
    background-image: linear-gradient(
      99deg,
      rgb(29, 28, 28),
      rgb(71, 59, 58),
      /* rgb(61, 39, 34) 40%, */
      rgb(41, 36, 36)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black;
    padding-top: 20px;
  
}

#PopupInput {
    width: 75%;
}

/* .hidePopup-animation {
    animation-name: hidePopup;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } */
  .showPopup-animation {
    animation-name: showPopup;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: solid black;
    border-radius: 5%;
  }

@keyframes hidePopup {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}
@keyframes showPopup {
  0% {
    height: 0px;
  }
  100% {
    height: 450px;
  }
}

.EditPostMedia {
background-position: center;
background-size: cover;
  background-image: url("https://archive.org/download/no-photo-available/no-photo-available.png");
}

.EditButtons{
    width: 100%;
    /* background-color: rgb(41, 41, 41); */
    background-color: var(--dark-red);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-items: flex-end; */
    padding: 5px
}


.EditPostsTitle {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(41, 41, 41); */
    background-color: var(--dark-red);
    align-items: center;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-shadow: 2px 2px rgb(12, 43, 78);
    color: white;
}

.UploadGridContainer {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    margin: 15px 0px;
    flex-wrap: wrap;
    
}

.UploadGridItem {
    height: 150px;
    width: 150px;
    border: solid white;
    display: flex;
    flex-direction: column;
    
}

.EditBtnBox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.EditBtn {
    /* height: 25px;
    width: 75px;
    background-color: gray;
    background-image: linear-gradient(
      99deg,
      rgb(29, 28, 28),
      rgb(71, 59, 58),
      rgb(61, 39, 34) 40%,
      rgb(41, 36, 36)
    );
    border: solid rgb(71, 59, 58),;
    color: white; */
    height: 30px;
width: 100px;
background-color: white;
border-radius: 15px;
color: black;
border: 1px solid black;
font-family: 'Cinzel', serif;
}
.ProfileBtn-{
  height: 40px;
width: 100px;
background-color: white;
border-radius: 15px;
color: black;
border: 1px solid black;
font-family: 'Cinzel', serif;
margin: 0px 10px;
}

.EditPopup {
  height: 0px;
  width: 350px;
  overflow: hidden; 
  position: fixed;
  top: 25vh;

  /* background-color: black; */
  background-color: var(--grey);
  /* background-image: linear-gradient(
      99deg,
      rgb(82, 82, 82),
      rgb(82, 82, 82) 40%,
      rgb(29, 28, 28)
    ); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.26);

}

.showEdit-animation {
    animation-name: showPopup;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: solid black;
    border-radius: 5%;
  }

@keyframes hideEdit {
    0% {
      height: 100px;
    }
    100% {
      height: 0px;
    }
  }
  @keyframes showEdit {
    0% {
      height: 0px;
    }
    100% {
      height: 450px;
    }
  }

